* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: max-content auto;
  gap: 40px;
  position: relative;
}

header {
  height: 80px;
  display: grid;
  grid-template-columns: auto max-content max-content;
  background-color: rgb(67, 192, 192);
}

.title {
  color: rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  align-items: center;
}

.actions, .search {
  padding: 10px;
  display: flex;
  align-items: center;
}

button {
  padding: 10px
}

.goods-list {
  display: flex;
  justify-content: center;
  gap: 40px
}

.goods-item {
  width: 200px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(67, 192, 192);
  outline: 2px solid gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goods-search {
  height: 36px
}

.fixed-area {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.5);
}

.basket-card {
  width: 50%;
  height: 80%;
  background-color: rgb(207, 207, 207);
  display: grid;
  grid-template-rows: max-content auto;
}

.basket-card__header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto max-content;
}

.basket-card__header__title {
  padding: 10px
}

.basket-card__header__delete-icon {
  background-image: url("img/delete_icon.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}

.basket-card__content {
  padding: 10px;
}